<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Add Product</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="style/css2.css" rel="stylesheet">
     
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body style="background-image: url(images/background.jpg);">
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Ecommerce. in</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-info">
        
          <img src="file:///C:/Users/as/Downloads/white_logo%20(1).png" class="img-fluid">
         
        </div>
      </div>
    
     <div class="sidebar-menu" >
        <ul>
        
          <li class="sidebar">
            <a href="index.html">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
            
          </li>
           <li class="sidebar">
            <a href="categories.html">
              <i class="fa fa-th-large"></i>
              <span>Categories</span>
            </a>
            
          </li>
          <li class="sidebar">
              <a href="product.html">
              <i class="fa fa-file" aria-hidden="true"></i>
              <span>Product</span>
              
            </a>
          </li>
          <li class="sidebar">
            <a href="alltable.html">
             <i class="fa fa-table" aria-hidden="true"></i>
              <span>Table</span>
            </a>
          </li>
           <li class="sidebar">
            <a href="stuff.html">
             <i class="fa fa-address-card" aria-hidden="true"></i>
              <span>Stuff</span>
            </a>
          </li>
          <li class="sidebar">
            <a href="table.html">
             <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Pos</span>
            </a>
          </li>
          <li class="sidebar">
            <a href="kitchen.html">
             <i class="fas fa-fire"></i>
              <span>Kitchen</span>
            </a>
          </li>
          
          <li class="sidebar-dropdown">
            <a href="#">
            <i class="fa fa-address-book" aria-hidden="true"></i>
              <span>Report</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
               <li>
                  <a href="bill.html">GST</a>
                </li>
                <li>
                  <a href="other.html">Others</a>
                </li>
               
            </div>
            
           <li class="sidebar">
            <a href="#">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <span> Set permission</span>
              
            </a>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
     <a href="allshow.html"><p class="student">All Views</p></a>
    </div>
  </nav>

  <main class="page-content">
<div class="container-fluid">
 
  <div class="row">
    <div class="col-md-4">
     <div class="row vices">
    <div class="col-md-2">
      <img src="images/user.png" alt="" class="tech">
    </div>
    <div class="col-md-10 mt-1">
      <h5 class="no">Rajkumar Laha <br><small>user</small></h5>
    </div>
  </div>
    </div>
    <div class="col-md-1">
    
    </div>
    <div class="col-md-7">
  <div class="row">
    <div class="col-sm ser">
     <a href="" class="rightAlign"><i class="fa fa-user"></i> Manage User</a>
    </div>

    <div class="col-sm ser">
    <a href="" class="rightAlign"><i class="fa fa-plus nine"></i> create user</a>
    </div>
    <div class="col-sm ser">
      <a href="" class="rightAlign"><i class="fa fa-outdent ten"></i> create user</a>
    </div>
  </div>
</div>
    </div>
</div>

<div class="container">
  <form class="services">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="input">Product Name</label>
      <input type="text" class="form-control" name="">
    </div>
    <div class="form-group col-md-6">
      <label for="input">Product Price</label>
      <input type="number" class="form-control" name="">
    </div>
  </div>
 <div class="form-row">
    <div class="form-group col-md-6">
      <label for="input">Product Quantity</label>
      <input type="text" class="form-control" name="">
    </div>
    <div class="form-group col-md-6">
     
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <a href=""><button type="submit" class="btn btn-submit">Submit</button> </a>
  <a href=""><button type="reset" class="btn btn-reset">Reset</button></a>
</form>


<footer>
  <p class="foot">© Copyright 2022 Hotel Inn | All rights reserved</p>
</footer>
</div>

 </main>
</body>

</html>