<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment</title>
    <link rel="stylesheet"  href="style/style.css">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="style/css2.css" rel="stylesheet">
     
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>

</head>

<body>

    <div class="container pt-5">
        <div class="card text-center crut">
  <div class="card-header tophead">
   <img src="images/credit.png" class="method"> PAYMENT METHOD <br><span class="input">PAYMENT INPUT FORM</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput">Payment</label>
        <select class="form-control">
            <option>--select--</option>
            <option>Cash</option>
            <option>Chaque</option>
            <option>UPI</option>
            <option>NEFT</option>
        </select>
      </div>
      <div class="col">
        <div class="form-group">
         <label for="formGroupExampleInput">Date</label>
       <input type="date" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      </div>
      <div class="col">
        <div class="form-group">
         <label for="formGroupExampleInput">Money</label>
       <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <a href="#" class="btn press">Submit</a>
  </div>
</div>
    </div>
</body>
</html>